h1{ text-align: center;text-align: center; color: lightpink;}
u {color: lightgrey;}
.k{font-family:'Arizonia',cursive;
    font-size: 6em;
}
.j{
  padding-bottom:500px;
}
body{
  background-color:grey;
}
h2{color:lightpink;}
p{ color: lightpink;}
